[package]
name = "serde-hashkey"
version = "0.2.3"
authors = ["John-John Tedro"]
repository = "https://github.com/udoprog/serde-hashkey"
readme = "README.md"
license = "MIT/Apache-2.0"
description = """
Space efficient, in-memory key based on serde.
"""
keywords = ["serde", "serialization"]
categories = ["encoding"]
edition = "2018"

[dependencies]
serde = { version = "1.0.98" }

[dev-dependencies]
serde_derive = { version = "1.0.98" }
serde_json = "1.0.40"
